*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  padding: 10px;
  background-color: gray;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  border: 1px solid black;
}
.row-box{
  display: flex;
  gap: 10px;
  height: 200px;
}
.bottom-right{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap : 10px;
}
.box{
  border: 1px solid black;
  background-color: rgb(148, 97, 150);
  flex: 1;
}
.box:last-child{
  flex: 2;
}