body {
  /* font-family: "바탕","돋움","굴림" 
  폰트지정 : 여러개 지정시 폰트가 없을 때 두번째, 세번째 가 선택됨 */
  font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 20px;
}
/* 폰트 크기 */
.p-font-size {
  /* px: 픽셀 단위로 폰트 크기 조절 */
  /* font-size: 16px; */

  /* em: 부모 요소의 글자크기 기준 배율로 폰트 크기 조절, 잘 안씀 - 부모의 크기가 짐작이힘듦*/
  /* font-size: 2em; */

  /* rem: 최상위 요소의 글자크기 기준 배율로 폰트크기 조절
   (최상위요소의 글자크기 기본값 = 1rem, 2배면 2rem) 
     em : 부모 요소의 글자크기 기준 (부모요소의 1.5배 = 1.5em) */

  font-size: 1rem;
}
div {
  font-size: 30px;
}

.p-font-size2 {
  font-size: 2em;
}

.p-font-weight {
  /* 폰트굵기 : 100~900을 설정 가능 */
  font-weight: 900;
}
