div {
  padding: 20px;
}

.container {
  background-color: #160404;
  width: 300px;
  height: 2000px;
}

.div-static {
  background-color: rgb(95, 20, 76);
}
/* static: 일반적인 문서의 흐름에 맞춰 배치(default) */

.div-static:nth-of-type(2) {
  background-color: aqua;
}

.div-relative1 {
  background-color: rgb(98, 114, 206);
}

.div-relative2 {
  background-color: rgb(141, 9, 134);
  position: relative;
  /* 기본적으로 atatic과 같으나. 자신의 원래 위치를 기준으로 위치 조정 가능 */
  top: 20px;
  /* left: 50px; */
  right: -50px;
}

.div-absolute1 {
  background-color: blue;
  /* absolute : relatove가 지정 된 상위 요소를 기준으로 위치를 지정 */
  /* 상위 요소중 relative가 지정된 요소가 없을 시, body를 기준으로 위치를 지정 */
  position: absolute;
}
.div-absolute2 {
  background-color: rgb(187, 133, 142);
  position: absolute;
}

.div-fixed {
  background-color: rgb(236, 159, 14);
  /* fixed: 뷰 포트를 기준으로 특정 위치에 고정 시키기위해 주로 사용 */
  position: fixed;
}

.div-sticky {
  background-color: #2d8106;
  /* sticky: 자신이 브라우저 화면 밖으로 벗어날 경우, 지정한 위치에 고정 */
  position: sticky;
  top: 0;
  z-index: 1;
}
