/* 
가상선택자
HTML 요소의 상태에 따라 선택해서 스타일을 지정하는 선택
`선택자:가상클래스명` */

/* 한번도 방문하지 않은 링크 요소 선택 */
a:link {
  color: rgb(14, 13, 13);
}

/* 한번이라도 방문한 링크 요소 선택 */
a:visited {
  color: rgb(228, 6, 6);
}

/* 마우스 커서가 올라가있는 요소를 선택 */
a:hover {
  background-color: aqua;
}

/* 포커스가 적용되어 있는 요소를 선택 */
a:focus {
  outline: none;
  border: 3px solid #ff0000;
}

/* 해당선택자의 요소를 제외한 나머지 요소에 스타일 적용 */
body :not(label) {
  color: chartreuse;
}
a:not([target]) {
  color: #ff0000;
}

/* nth-child : 자식요소 선택에 사용하는 가상 선택 */
/* (n+2) :2번째 숫자부터 적용, (n+3) :3번째 까지만 적용)
  (odd) :홀수번째 적용 (even) :짝수번째 적용*/
.container :nth-child(3) {
  color: blue;
}

.container :nth-child(odd){
  background-color: #deecee;
}

/* nth-of-type(): 부모 요소 내에서 특정 유형의 n번째 자식을 선택 */
.container span:nth-of-type(2)
,.container span:nth-of-type(3){
  color: blueviolet;
}
/* 연결 선택자
 공백( ), 꺾세 괄호(>), 더하기(+), 물결(~)등의 결합자를 이용해 특정 요소를 선택하는것 
  */
  
/* 후손 결합자: 공백을 이용하여 선택자를 조합, 
      부요소 영역 하에 있는 특정 선택자 모두에 스타일을 적용 */
.container span {
  color: blue;
}

/* 자식결합자: > 꺾세괄호를 이용해서 선택자를 조합, 부모 영역 직하에 있는 자식 요소들만 스타일 적용 */
.container > span {
  color: brown;
}

/* 인접 형제 결합자: +를 이용해서 선택자를 조합,
첫번째 선택자 요소 바로 뒤에 나오는 형제요소에 스타일을 적용
앞에나오는 형제 요소 적용 안됨*/
.bro + span {
  color: blueviolet;
}

.bro + div {
  /* 인접 형제가 아니라서 적용 안된다 */
  color: black;
}

/* 일반 형제 결합자: ~을 이용해서 선택자를 조합
첫번재 선택자 요소 이후에 나오는 모든 형제요소에 스타일을 적용 */
.bro ~ span {
  color: chocolate;
}

.bro ~ div {
  color: aquamarine;
}
